[Unit]
Description=The backup script for web,app,db settings
Wants={{ dir_backup_timer_name }}

[Service]
Type=oneshot
User={{ dir_backup_user }}
Group={{ dir_backup_group }}
ExecStart={{ dir_backup_script_path }}

[Install]
WantedBy=multi-user.target
